# ===============================
# Android / Gradle
# ===============================
*.iml
.gradle/
build/
.externalNativeBuild/
.cxx/

# ===============================
# Local configuration (IMPORTANT)
# ===============================
local.properties

# ===============================
# IntelliJ / Android Studio
# ===============================
.idea/
!.idea/codeStyles/
!.idea/runConfigurations/

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
*.log

# ===============================
# APK / AAB
# ===============================
*.apk
*.aab

# ===============================
# Firebase / Google
# ===============================
google-services.json

# ===============================
# Keystore files
# ===============================
*.jks
*.keystore

# ===============================
# NDK
# ===============================
obj/

# ===============================
# Captures
# ===============================
captures/

# ===============================
# Kotlin
# ===============================
*.class

# ===============================
# Temporary files
# ===============================
*.swp
*~
